<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="//www.google.com/js/gweb/analytics/autotrack.js"></script>
    <title>TOP</title>
</head>
<body>
<header>
    <div class="page-title">
        <h1>カート編集画面</h1>
    </div>
    <div class="navi">
        <span><a href="/">トップ</a></span>
        <span th:if="${loginUser} == null">
            <span><a href="login">ログイン</a></span>
            <span><a href="signup">ユーザー登録</a></span>
        </span>
        <span th:if="${loginUser} != null">
            <span><a href="itemAdd">商品追加</a></span>
            <span><a href="editCart">カート編集</a></span>
            <span><a href="logout">ログアウト</a></span>
        </span>
    </div>
</header>
<main>
    <tr th:each="item : ${cartForm}" th:object="${cartForm}">
        <form method="post" action="/editCart">
            <span th:text="${item.name}"></span>
            <span th:text="${item.price}"></span>
            <input type="hidden" th:name="id"  th:value="${item.id}">
            <input type="hidden" th:name="itemId"  th:value="${item.itemId}">
            <input type="text" th:name="amount" th:value="${item.amount}">
            <input type="submit" value="個数変更" />
        </form>
        <form method="post" action="/deleteCart">
            <input type="hidden" name="id"  th:value="${item.id}">
            <input type="submit" value="アイテム削除" />
        </form>
    </tr>
    <form method="post" action="/purchase">
        <input type="submit" value="決済" />
    </form>
</main>
</body>