<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="//www.google.com/js/gweb/analytics/autotrack.js"></script>
    <title>TOP</title>
</head>
<body>
<header>
    <div class="page-title">
        <h1>商品追加画面</h1>
    </div>
    <div class="navi">
        <span><a href="/">トップ</a></span>
        <span><a href="login">ログイン</a></span>
        <span><a href="itemAdd">商品追加</a></span>
        <span><a href="logout">ログアウト</a></span>
    </div>
</header>
<main>
    <form method="post" action="/itemAdd" th:object="${itemForm}">
        <input type="text" th:field="*{name}">
        <input type="text" th:field="*{price}">
        <input type="submit" value="新規追加" />
    </form>
</main>
</body>