<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="//www.google.com/js/gweb/analytics/autotrack.js"></script>
    <title>TOP</title>
</head>
<body>
<header>
    <div class="page-title">
        <h1>新規ユーザー登録画面</h1>
    </div>
    <div class="navi">
        <span><a href="/">トップ</a></span>
        <span th:if="${loginUser} == null">
            <span><a href="login">ログイン</a></span>
            <span><a href="signup">ユーザー登録</a></span>
        </span>
        <span th:unless="${loginUser} == null">
            <span><a href="itemAdd">商品追加</a></span>
            <span><a href="editCart">カート編集</a></span>
            <span><a href="logout">ログアウト</a></span>
        </span>
    </div>
</header>
<main>
    <form method="post" action="/signup" th:object="${userForm}">
        <input type="text" th:field="*{account}">
        <input type="text" th:field="*{name}">
        <input type="password" th:field="*{password}">
        <input type="password" th:field="*{passwordConfirm}">
        <input type="submit" value="新規追加" />
    </form>
</main>
</body>