<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="//www.google.com/js/gweb/analytics/autotrack.js"></script>
    <title>TOP</title>
</head>
<body>
<header>
    <div class="page-title">
        <h1>トップ画面</h1>
    </div>
    <div class="navi">
        <span><a href="/">トップ</a></span>
        <span><a href="login">ログイン</a></span>
        <span><a href="itemAdd">商品追加</a></span>
        <span><a href="logout">ログアウト</a></span>
        <span><a href="editCart">カート編集</a></span>
    </div>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
                <th>image</th>
                <th>status</th>
                <th>createDate</th>
                <th>updateDate</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}" th:object="${items}">
                <td><a th:href="@{/item/{id}(id=${item.id})}"><span th:text="${item.id}"></span></a></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.image}"></td>
                <td th:text="${item.status}"></td>
                <td th:text="${item.createDate}"></td>
                <td th:text="${item.updateDate}"></td>
            </tr>
        </tbody>
    </table>
</main>
</body>